@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-app-primary: mat-palette($mat-orange, 500);
$light-app-accent:  mat-palette($mat-yellow, 700);

// The warn palette is optional (defaults to red).
$light-app-warn:    mat-palette($mat-red, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$light-app-theme: mat-light-theme((
        color: (
                primary: $light-app-primary,
                accent: $light-app-accent,
                warn: $light-app-warn,
        )
));

$dark-app-primary: mat-palette($mat-cyan, 500);
$dark-app-accent:  mat-palette($mat-cyan, 300);
$dark-app-warn:    mat-palette($mat-pink, 500);

$dark-app-theme: mat-dark-theme((
        color: (
                primary: $dark-app-primary,
                accent: $dark-app-accent,
                warn: $dark-app-warn,
        )
));
