<ng-container *ngIf="product$ | async as product">
  <div class="__header" fxLayoutAlign="end">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="__content">
    <div fxLayoutGap="1rem" fxLayoutAlign="space-between center">
      <div fxFlex="35%">
        <img class="__image" src="./assets/images/default.png" alt="image">
      </div>
      <div fxFlex>
        <div class="mat-title">{{ product.name }}</div>
        <div class="mat-title" *ngIf="product.description">{{ product.description }}</div>
        <div class="mat-body">{{ product.price | currency }}</div>
      </div>
    </div>

    <ul class="__options">
      <li *ngFor="let option of product.options" fxLayoutAlign="space-between center">
        <mat-checkbox fxFlex>
          {{ option.name }} (+{{ option.price | currency }})
        </mat-checkbox>
        <div fxLayoutAlign="start center" fxLayoutGap=".4rem">
          <button mat-icon-button color="accent">
            <mat-icon>remove</mat-icon>
          </button>
          <span>3</span>
          <button mat-icon-button color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="__footer" fxLayoutAlign="center">
    <button mat-flat-button color="accent" (click)="onSubmit($event, product)">Add to order</button>
  </div>

  <!--  </form>-->
</ng-container>
