<div>
  <div class="__header" fxLayoutAlign="end">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="__content">
    <div class="mat-title">Product name</div>

    <ul class="__options">
      <li *ngFor="let option of [1, 2, 3, 4, 5, 6]" fxLayoutAlign="space-between center">
        <mat-checkbox fxFlex>
          Option (+{{ 1.2 | currency }})
        </mat-checkbox>
        <div fxLayoutAlign="start center" fxLayoutGap=".4rem">
          <button mat-icon-button color="accent">
            <mat-icon>remove</mat-icon>
          </button>
          <span>3</span>
          <button mat-icon-button color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="__footer" fxLayoutAlign="center">
    <button mat-flat-button color="accent" (click)="onSubmit()">Add to order</button>
  </div>

  <!--  </form>-->
</div>
