<ng-container *ngIf="product$ | async as product">
  <div class="__header" fxLayoutAlign="end">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="__content">
    <div fxLayoutGap="1rem" fxLayoutAlign="space-between center">
      <div fxFlex="35%">
        <img class="__image" src="./assets/images/default.png" alt="image">
      </div>
      <div fxFlex>
        <div class="mat-title">{{ product.name }}</div>
        <div class="mat-title" *ngIf="product.description">{{ product.description }}</div>
        <div class="mat-body">{{ product.price | currency }}</div>
      </div>
    </div>

    <app-product-details-form [options]="product.options"
                              [formValue]="orderProduct$ | async"
                              (submitForm)="onSubmit($event, product)">
    </app-product-details-form>
  </div>
</ng-container>
