<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center">
    <a routerLink="/" fxLayoutAlign="start center">
      <img src="./assets/images/logo.png" alt="logo">
    </a>
    <span>Angry Hungry</span>
  </div>

  <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
    <mat-icon [matBadge]="totalProducts$ | async"
              [matBadgeHidden]="hideBadge$ | async"
              matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<mat-menu class="order-menu" #menu="matMenu" [overlapTrigger]="false">
  <div class="order-menu-content" [style.width.px]="400" (click)="$event.stopPropagation()">
    <app-order-details (closeMenu)="closeMenu()"></app-order-details>
  </div>
</mat-menu>
