<div class="mat-headline">Your order</div>

<div fxLayout="column" fxLayoutGap=".4rem">
  <div fxLayoutAlign="space-around">
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>schedule</mat-icon>
      <span>20-35</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>thumb_up</mat-icon>
      <span>{{ .96 | percent}}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>delivery_dining</mat-icon>
      <span>Free</span>
    </div>
  </div>

  <ul class="__products" *ngIf="hasProducts$ | async">
    <li class="__product-item" fxLayout="column" fxLayoutGap=".4rem"
        *ngFor="let orderProduct of orderProducts$ | async; trackBy: trackByFn">
      <div gdColumns="40px 1fr auto">
        <div>{{ orderProduct.amount }}x</div>
        <div>{{ orderProduct.product.name }}</div>
        <div class="__product-price mat-subheading-1">
          {{ totalPriceOfOrderProduct$(orderProduct.product.id) | async | currency }}
          <span *ngIf="totalPriceOfOrderProductOptions$(orderProduct.product.id) | async as optionsPrice">
            + ({{ optionsPrice | currency }})
          </span>
        </div>
      </div>
      <div gdColumns="auto 1fr auto">
        <div>
          <button mat-icon-button color="accent" (click)="reduceProductAmount($event, orderProduct)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div fxLayoutAlign="center center" (click)="openProductDetails($event, orderProduct)">
          <a mat-button color="accent">Edit</a>
        </div>
        <div>
          <button mat-icon-button color="accent" (click)="increaseProductAmount($event, orderProduct)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </li>
  </ul>

  <div fxLayoutAlign="space-between center" *ngIf="hasProducts$ | async">
    <div class="__total-price mat-title">Total price</div>
    <div class="__total-price mat-headline">{{ totalPrice$ | async | currency }}</div>
  </div>

  <div fxLayoutAlign="center center" *ngIf="hasProducts$ | async">
    <button class="button-round" mat-flat-button color="accent" (click)="onComplete($event)">Complete order</button>
  </div>

  <div class="__no-products mat-subheading-1" fxLayoutAlign="center center" *ngIf="!(hasProducts$ | async)">
    No products
  </div>
</div>
