<div fxLayout="column" fxLayoutGap="1rem">
  <app-product-categories></app-product-categories>

  <div fxLayoutGap="1rem" *ngIf="hasProducts$ | async" appHideSkeleton>
    <div gdColumns="repeat(5, 1fr)"
         gdColumns.xs="repeat(1, 1fr)"
         gdColumns.sm="repeat(2, 1fr)"
         gdColumns.md="repeat(3, 1fr)"
         gdColumns.lg="repeat(4, 1fr)"
         gdGap="1rem" fxFlex>
      <app-product-card *ngFor="let product of products$ | async; trackBy: trackByFn"
                        [product]="product">
      </app-product-card>
    </div>
  </div>

  <div class="__spinner" fxLayoutAlign="center center">
    <mat-spinner diameter="36" *ngIf="loading$ | async"></mat-spinner>
  </div>

  <div class="mat-body-1"
       *ngIf="!(loaded$ | async) && !(hasProducts$ | async)">
    No Products
  </div>

  <div [hidden]="!(hasProducts$ | async)">
    <mat-paginator
        [length]="(pagination$ | async)?.totalItems"
        [pageIndex]="(pagination$ | async)?.currentPage"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPaginatorPageChanged($event)">
    </mat-paginator>
  </div>
</div>
