/* You can add global styles to this file, and also import other style files */
@import '~src/assets/scss/themes';
@import '~src/app/order/order-details/order-details.theme';
@import '~src/assets/scss/buttons.theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

$custom-typography: mat-typography-config(
        $font-family: 'Montserrat, sans-serif'
);

@include angular-material-typography($custom-typography);

.theme-1 {
  @include angular-material-theme($light-app-theme);
  @include order-details-theme($light-app-theme);
  @include buttons-theme($light-app-theme);
}

.theme-1-dark {
  @include angular-material-color($dark-app-theme);

  $config: mat-get-color-config($dark-app-theme);
  $background: map-get($config, background);

  body {
    background-color: mat-color($background, background);
  }
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .order-menu-content {
    width: 320px !important;
  }
}
